.root {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: none;
  float: left;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  list-style: none;
  margin: 2px 0 1px;
  padding: 10px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;

  &_open { display: block; }

  &_right { right: 0; left: auto; };
}


.divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}


.disabled {
  cursor: not-allowed;
  opacity: .5;
}

.label {
  font-weight: inherit;
}


.item {
  padding: 6px 25px 8px 15px;
  display: block;
  clear: both;
  font-weight: inherit;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
  cursor: default;
  user-select: none;

  &:hover { background: #f5f5f5; }
}


.icon {
  display: inline-block;
  font-size: inherit;
  margin-right: 9px;
  min-width: 20px;
  opacity: .5;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: #8E8E8E;
  margin-top: 2px;
}
