@import '../../../variables.scss';


.tree {
  color: #717171;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}


.muted {
  background: #F1F2F5;
  max-height: 100%;
  transition: height .25s ease-out;
}


.node {
  list-style: none;
  margin: 0;
  padding: 0 0 0 26px;

  &:first-child {
    padding-left: 0;
  }
}


.child {
  color: #616161;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;

  &:focus {
    outline: none;
    & > .item {
      border: 1px dotted #A5A5A5;
    }
  }

  &_target {
    color: #218DE2;
    cursor: default;
    font-weight: 500;
  }

  &_active {
    color: #484848;
    cursor: default;
    font-weight: 500;
  }
}


.item {
  border: 1px solid transparent;
  display: inline;
  position: relative;
  text-align: center;
  width: 20px;

  span { margin: 0 6px }
}
